<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <a href="#" title="Event Homepage"><h2>MMU Event</h2></a>
        </div>
        <div class="nav-right">
            <a href="#">About Us</a>
            <a href="#">Login</a>
            <a href="#">Sign Up</a>
        </div>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
</body>
</html>